{% load static %}
<nav class="navbar navbar-light" style="background-color: #4e90ee">
  <div class="container">
    <a class="navbar-brand" href="{%url 'api:hello_rekruto' %}">
      <span style="color:#19ff00">My</span>site</a>
    </a>
    {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name  == 'users:password_change_form' %}active{% endif %}"
               href="{% url 'users:password_change_form' %}">Изменить пароль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}"
               href="{% url 'users:logout' %}">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}"
               href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}"
               href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
    {% endwith %}
  </div>
</nav>
